html,
body {
  height: 100%;
}

body {
  font: 16px / 1.42 "Roboto", Arial, sans-serif;
  color: #212121;
  background: #fcf5e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  /* min-width: 1440px; */
}


.hero {
  position: relative;
  height: 100vh;
  min-height: 650px;
  margin-bottom: 130px;
  background: url(./img/bg/hero.jpg) center center / cover no-repeat;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1290px;
  margin: 0 auto;
  padding-top: 27px;
}

.header--product {
  margin: 0 auto 50px;
  padding-bottom: 20px;
}

.mail {
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.mail__title {
  margin-bottom: 3px;
}

.mail__content {
  padding: 5px 10px;
  background: #212121;
  color: #ffbc2f;
  font-size: 16px;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  height: 72%;
  transform: translate(-50%, -50%);
}

.sidebar__hamburger {
  display: block;
  position: absolute;
  top: 27px;
  left: 50%;
  transform: translate(-50%);
}

.sidebar__hamburger-icon {
  width: 29px;
  height: 29px;
  fill: #ffbc2f;
}

.sidebar--opened .sidebar__hamburger {
  display: none;
}

.sidebar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  width: 75px;
  background: #1b1b1b;
  box-sizing: border-box;
  transition: width .3s;
}



.sidebar--opened {
  width: 25%;
  padding: 0 3% 0 4%;
}

.sidebar--opened .sidebar__header {
  display: flex;
}

.sidebar__header {
  position: absolute;
  display: none;
  justify-content: center;
  left: 0;
  top: 29px;
  right: 0;
}

.sidebar__close {
  position: absolute;
  top: -4px;
  right: 23px;
}

.sidebar__close-icon {
  width: 29px;
  height: 29px;
  fill: #ffbc2f;
}

.sidebar__menu {
  position: absolute;
  left: -400px;
  transition: left .3s;
}

.sidebar--opened .sidebar__menu {
  left: 0;
  width: 100%;
  text-align: center;
  transition-delay: .1s;
}

.side-menu__item {
  margin-bottom: 20px;
}

.side-menu__link {
  font-size: 20px;
  color: #ffbc2f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;

}

.side-menu__link:hover {
  color: #d82727;
}

.fade-slider {
  width: 100%px;
  height: 100%;
}

.fade-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: center center / contain no-repeat;
  opacity: 0;
  transition: opacity .3s;
}

.fade-slider__item--visible {
  opacity: 1;
}

.fade-slider__item--style-tshirts {
  background-image: url(./img/content/hero/slider_pic_1.png);
}

.fade-slider__item--style-tshirts .fade-slider__text {
  left: 50%;
  top: 50%;
  transform: translateX(-164%) translateY(-52%);
}

.fade-slider__item--style-games {
  background-image: url(./img/content/hero/slider_pic_2.png)
}

.fade-slider__item--style-games .fade-slider__text {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.fade-slider__item--style-games .lined-text {
  align-items: center;
}

.fade-slider__item--style-present {
  background-image: url(./img/content/hero/slider_pic_3.png);
}

.fade-slider__item--style-present .fade-slider__text {
  left: 0;
  bottom: 0;
  transform: translateY(-120%);
}

.fade-slider__item--style-present .lined-text {
  align-items: center;
}

.fade-slider__text {
  position: absolute;
}

.lined-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "alegreya";
  color: #fff;
  font-size: 63px;
  text-transform: uppercase;
  line-height: 1;
  word-wrap: normal;
}

.lined-text__word {
  padding: 0 17px 8px;
  margin-top: -7px;
  white-space: nowrap;
  background: #000;
}

.lined-text__word:nth-child(2n) {
  margin-left: 8px;
}

.lined-text__word--clolr-yellow {
  color: #ffbc2f;
}


.container {
  margin: 0 auto;
  /* width: 1300px; */
  width: 1105px;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.filter__item {
  margin-right: 40px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__link {
  display: inline-block;
  padding: 3px 21px;
  color: #1b1b1b;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', Arial sans-serif;
  cursor: pointer;
}

.filter__link:hover {
  color: #d82727;
}

.filter__item--active .filter__link {
  color: #ffc92f;
  background: #1b1b1b;
}

.products {
  margin-bottom: 160px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -27px;
}

.products__item {
  position: relative;
  width: 302px;
  height: 386px;
  background: #ffc92f;
  margin-bottom: 35px;
  margin-left: 27px;
}

.products__item:hover .products__desc {
  transform: translateY(0);
}

.products__item--color-black {
  background: #232323;
}

.products__item--color-black .products__price {
  border-bottom-color: #ffc92f;
}

.products__item--color-black .products__price-amount {
  color: #232323;
}

.products__item--size-double {
  width: 630px;
  height: 544px;
}

.products__price {
  position: absolute;
  left: -6px;
  top: 18px;
  width: 126px;
  border-bottom: 45px solid #232323;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transform: rotate(-181deg);
}

.products__price-amount {
  position: absolute;
  right: 28px;
  top: 2px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
  color: #fff;
  transform: rotate(181deg);
}

.products__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}



.products__desc {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 30px;
  background: rgba(35, 35, 35, .85);
  font-size: 15px;
  color: #fff;
  transform: translateY(100%);
  transition: transform .3s;
}

.products__img {
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.products__desc-text {
  text-align: center;
  margin-bottom: 18px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
  font-size: 24px;
  padding: 2px 30px;
  background: #1b1b1b;
  color: #ffbc2f
}

.btn:hover {
  color: #fff;
  background: #d82727;
}

.collections {
  margin-bottom: 135px;
}

.collections__list {
  display: flex;
}

.collections__item {
  min-height: 474px;
  flex: 1;
  overflow: hidden;
  margin-right: 30px;
  background: url('./img/bg/pattern.png') center center / 500px;
  position: relative;
}

.collections__item:last-child {
  margin-right: 0;
}

.collections__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 176%;
  top: -17%;
  left: -18%;
  background: center center / contain no-repeat;
}

.collections__item--type-guys::before {
  background-image: url('./img/collections/collection_man.png');
}

.collections__item--type-girls::before {
  background-image: url('./img/collections/collection_woman.png');
  top: -31%;
  width: 80%;
  left: -25%;
}

.collections__link {
  display: block;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 74px 13% 74px 44%;
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

.collections__link:hover .btn {
  color: #fff;
  background: #d82727;
}


.collections__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.collection__desc {
  margin-bottom: 28px;
}

.footer {
  margin-bottom: 115px;
}

.footer__container {
  width: 1105px;
}

.site-menu {
  margin-bottom: 115px;
}

.site-menu__section {
  display: flex;
  justify-content: space-between;
}

.site-menu__col {
  margin-right: 20px;
}

.site-menu__col:last-child {
  margin-right: 0;
}

.site-menu__title {
  margin-bottom: 24px;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #232323;
  text-transform: uppercase;
}

.site-menu__item {
  margin-bottom: 15px;
}

.site-menu__link {
  color: #737373;
  text-decoration: none;
  font-size: 15px;
}

.site-menu__link:hover {
  color: #d82727
}

.site-menu__text {
  margin-bottom: 30px;
  font-size: 15px;
  color: #232323;
}

.site-menu__title-row {
  display: block;
  color: inherit;
  text-decoration: none;
}

.extras {
  display: flex;
  margin-bottom: 95px;
}

.extras__col {
  flex: 1;
  margin-bottom: 55px;
  margin-right: 20px;
}

.extras__col:last-child {
  margin-right: 0;
}

.extras__best {
  display: block;
  padding: 39px 10%;
  text-align: center;
  background: #232323;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
  text-decoration: none;
  line-height: 1;
}

.extras__col-sotials {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: url('./img/bg/pattern.png') center center / 500px;
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 50px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  height: 38px;
  width: 38px;
}

.socials__link:hover .socials__icon {
  fill: #d82727;
}

.socials__icon {
  width: 100%;
  height: 100%;
}

.product__content {
  display: flex;
  margin-bottom: 103px;
  background: #ffc92f;
}

.product__tshirt {
  padding-left: 30px;
}

.tshirt-color {
  display: none;
}

.tshirt-color.active {
  display: block;
}

.product__parametrs {
  background: #fff;
  width: 100%;
  margin: 10px 10px 10px 0;
  padding: 30px;
}

.product__header {
  font-weight: bold;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 30px;
}

.product__type {
  color: #ffc92f;
  font-size: 17px;

}

.product__name {
  text-transform: uppercase;
  font-size: 47px;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
}

.product__price {
  display: inline-block;
  padding: 10px 15px;
  font-family: "Yanone Kaffeesatz",
    Arial,
    sans-serif;
  font-size: 38px;
  background: #ffc92f;
  line-height: .7;
}

.product__info {
  padding-top: 30px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 37px;
}

.product__info p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  font-family: "Roboto",
    Arial,
    sans-serif;
}

.product__info p:last-child {
  margin-bottom: 0;
}

.info {
  display: none;
  margin-bottom: 80px;
  border: 10px solid #ffbc2f;
}

.info.active {
  display: flex;
}

.info__washing {
  border-right: 1px solid #d3d3d3;
}

.info__list {
  padding: 58px 45px 63px 44px;
}

.size-info__list {
  padding-top: 50px;
}

.info__item {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.info__item:last-child {
  padding-bottom: 0;
}

.info__icon {
  width: 25px;
  height: 25px;
  padding-right: 25px;
}


.info__item-text {
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
}

.decription {
  padding: 58px 45px 63px 55px;
  width: 70%;
}

.decription p {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto",
    Arial,
    sans-serif;
  margin-bottom: 14px;
}

.info__size {
  border-right: 1px solid #d3d3d3;
  width: 360px;
  padding: 45px 55px 0 50px;
}

.info__measurement {
  width: 100%;
}

.logo-express {
  padding: 55px 75px 50px 85px;
}

.logo-harly {
  width: 60%;
  padding: 55px 75px 50px 85px;
}

.decription-size__table {
  width: 70%;
  padding: 0;
  font-size: 14px;
  font-family: "Roboto",
    Arial,
    sans-serif;
}

.decription-size__list {
  display: flex;
}

.decription-size__list--bold {
  font-weight: bold;
  background: #f6efe0;
}

.decr-size__item {
  padding: 17px 0 17px 0px;
  border-top: 1px solid #e5dece;
  border-left: 1px solid #e5dece;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
}

.decription-size__list .decr-size__item:last-child {
  border-right: 1px solid #e5dece;
}

.decr-size__item--main {
  justify-content: flex-start;
  padding-left: 20px;
  width: 158px;
}

.product__options {
  margin-top: 27px;
}

.size__list {
  display: flex;
}

.size__item {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 7px;
  border: 2px solid #dfd9c7;
  cursor: pointer;
}

.size__item:last-child {
  margin-right: 0;
}

.size__item.active {
  background: #ffc92f;
}

.size__item.none-active {
  color: #dfd9c7;
}

.palette__list {
  display: flex;
  align-items: center;
}

.palette__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 30px;
  width: 30px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.palette__item.active {
  border: 3px solid #ffc92f;
}


.color__item--black {
  height: 25px;
  width: 25px;
  border: 1px solid #dfd9c7;
  border-radius: 15px;
  background: #000;
}

.color__item--white {
  height: 25px;
  width: 25px;
  border: 1px solid #dfd9c7;
  border-radius: 15px;
  background: #fff;
}

.color__item--green {
  height: 25px;
  width: 25px;
  border: 1px solid #dfd9c7;
  border-radius: 15px;
  background: #529029;
}

.color__item--blue {
  height: 25px;
  width: 25px;
  border: 1px solid #dfd9c7;
  border-radius: 15px;
  background: #39498d;
}

.color__item--red {
  height: 25px;
  width: 25px;
  border: 1px solid #dfd9c7;
  border-radius: 15px;
  background: #d82727;
}

.buy-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 70px;
  background: #232323;
  color: #ffbc2f;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: .7;
  font-family: 'Yanone Kaffeesatz',
    Arial sans-serif;
}

.buy-btn:hover {
  background: #d82727;
  color: #fff;
}

.header__content {
  position: absolute;
  top: -26px;
  left: 27%;
  width: 50%;
  height: 202px;
  background: url(./img/decor/header-guys.png) no-repeat top;
}

.head {
  background: url(./img/bg/hero.jpg) center center;
}

.header__text .lined-text {
  position: absolute;
  top: 40px;
  left: 6%;
  font-size: 30px;
}

.header__text .lined-text .lined-text__word {
  padding: 2px 10px 5px;
}